*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}
.small-container{
   max-width: 1080px;
   margin: 0 auto;
   padding: 0 20px;
}
.flex{
   display: flex;
   flex-wrap: wrap;
   align-items: center
}
/* * Heder area styl */
header{
   background-image: radial-gradient(#fff, #ffd6d6);
}
.container{
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 20px;
   overflow: hidden;
}
.navbar{
   justify-content: space-between;
   padding: 20px;
   position: relative;
}
.nav-logo img{
   width: 125px;
}
.nav-menu{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.nav-menu ul{
   display: flex;
   gap: 25px;
   list-style-type: none;
}
.nav-menu ul a{
   color: #555;
   text-decoration: none;
}
.cart-img {
   margin-left: 20px;
}
.nav-bars{
   margin-left: 20px;
   display: none;
}
.nav-bars i{
   font-size: 25px;
}

/* * header hero area style */
.header-hero{
   justify-content: space-around;
   padding: 0 20px;
}
.flex{
   flex-basis: 50%;
   min-width: 300px;
}
.header-content h1{
   margin: 25px 0;
   font-size: 45px;
   color: #555;
}
.header-content p{
   color: #555;
}
.header-content .hero-btn {
   display: inline-block;
   text-decoration: none;
   margin: 30px 0;
   padding: 8px 30px;
   background-color: #ff523b;
   border-radius: 30px;
   color: #fff;
}
.hero-image img{
   max-width: 100%;
   padding: 50px 0;

}

/* * category section */
.categories{
   margin: 70px 0;
}
.categries-container{
   justify-content: space-around;
}
.categories-image{
   flex-basis: 30%;
   min-width: 250px;
   margin-bottom: 20px;
}
.categories-image img{
   width: 100%;
}

/* * Feature section */
.feature-product{
   justify-content: space-around;
}
.feature-header h2{
   text-align: center;
   color: #555;
   font-size: 1.5rem;
   margin-bottom: 80px;
   position: relative;
}
.feature-header h2::after{
   position: absolute;
   content: '';
   width: 80px;
   height: 4px;
   background-color: #ff523b;
   border-radius: 5px;
   bottom: -10px;
   left:50%;
   transform: translatex(-50%);
}
.product-image{
   flex-basis: 25%;
   min-width: 180px;
   padding: 10px;
   margin-bottom: 30px;
   transition:  transform .2s;
}
.product-image:hover{
  transform:translateY(-5px); 
}
.product-image img{
   width: 100%;
   object-fit: cover;
}
.product-image h4{
   color: #555;
}
.product-image .rating{
   color: #ff523b;
}
.product-image p{
   color: #555;
}